.rejectReasonBtn{
	border-radius: 0px !important;
	margin-top: 4px;
}
.rejectBtnWrap{
	padding-left: 0px;
}
.showHideReasonWrap{
	display: none;
	margin-top: 10px;
	padding: 0px;
	-webkit-transition: all 0.9s ease-in-out;
   -moz-transition: all 0.9s ease-in-out;
   -o-transition: all 0.9s ease-in-out;
   -ms-transition: all 0.9s ease-in-out;
   transition: all 0.9s ease-in-out;
}
.showReasonSection{
   display: block;
}
.perAdd img{
	height: 200px;
}
.showAddrWrap,.showAddrImgWrap,.showAddrWrapCarousel{
	border: 1px solid #eee;
	box-shadow: 0px 0px 6px;
	margin-bottom: 15px;
	padding: 10px 0px 10px 0px;
}
.showAddrWrapCarousel{
	/*padding-left: 15px;*/
	border: 0px solid #eee;
	box-shadow: 0px 0px 0px;
}
.showAddrImgWrap{
	padding: 0px;
}
.curImgWrap{
	padding: 0px;
	margin-bottom: 2%;
}
.verifyDocWrap{
	cursor: pointer;
}
.addressImageModal{
	height: 350px !important;
}
.showAddrWrap h5{
	text-decoration: underline;
	margin-left: 10px;
	color: #666;
	margin-bottom: 2px;
}
.curImgWrap img{
	height: 350px !important;
}
.verTit h4{
	text-align: center;
}
.verCarouselWrap{
	margin-top: 2%;
}
.modalCarTitle h4{
	margin-top: -3%;
    position: absolute;
}
.carouselSec{
	position: fixed !important;
}
.carClose{
	z-index: 111;
	position: relative !important;	
}
.carousel-control.left, .carousel-control.right{}
.carmodalDiv{
	cursor: pointer;
}