.tickStatWrapper{
	background: #efefef;
	font-size: 12px ;
	color: #666;
	margin-bottom: 20px;
	padding-bottom: 2%;
}

.tickStatWrapper h5{
	font-weight: bold;
	text-transform: capitalize;
}
.fesubmitouter{
	
	margin-left: 2%;
	margin-top:2%;
}
.teammember{
	margin-right: 5%;
	padding: 3%;
	/* margin-top: 1%; */
}
.tmListWrap{
	padding: 1%;
  text-align: center;
}
.approvebtn{
	margin-right: 2%;
}
.editdoc{
	font-size: 15px;
  padding: 6%;
  cursor: pointer;
  border: 1px solid #999;
}
.selfallocatedwrap{
  text-align: center;
  margin-bottom: 5%;
}
.fesubmitbtn{
  padding: 1%;
}
.downloadLable{
    font-size: 14px;
    padding: 1%;
	margin-left: 15%
	
}
.acceptrejectwrap{
	margin-top:2%;
}
/* .fesubmitbtn {
	padding: 4%;
} */

.fesubmitouter1{
	margin-top:0%!important;
}
.selfsubmit{
	padding: 1%;
}
.acceptrejectwrap{
	margin-bottom: 2%;
}
.feSubmitbtn{
	margin-top:12%;
	padding: 3%;
	padding: 2%;
}
/*=======================Chart Css============*/
#inflowtickets,
#totalbusiness{
  width: 100%;
  height: 281px!important;
}
#customerComplaint{
	height: 314px;
}
.amcharts-export-menu li{
	padding-top: 22%!important;
}
.ticketchartTableLabel{
	padding-bottom: 6%!important;
}
.amcharts-bg{
  height:347px!important;
}
.innerblock1{
	padding: 1% 12% 16% 12%!important;
	margin-bottom: 4%;
}
.statediv{
	height: 30px;
	border: 1px solid #aaa;
	margin-bottom: 1%;
}
.horizontalwrap{
	text-align: center
}
.chartwrapper{
	margin-bottom: 1%;
	/* padding: 2%; */
}
.finalstatuswrap{
	text-align: center;
	margin-bottom: 5%;
	font-size: 12px;
}
.finaldatasubmit{
	margin-top: 5%;
}
.uploadreportTitle{
	float: left;
}
.nodata{
	text-align: center;
	font-size: 15px;
	margin-top:3%;
}
.statusTitle{
	margin-top:2%;
}
.bcolor{
	color: #333;
}
.viewbtn:hover{
	color: #fff;
}
.finalApprovewrap{
	margin-top:2%;
}
.docdownload label{
	font-size: 14px;
    padding: 1%;
}
.reportcommonbtn{
	margin-right: 2%;
}
.docdownload{
    font-size: 46px;
    /*padding: 0px 10px;*/
    text-align: center;
    color: #ccc;
    border: 1px solid #aaa;
    margin-bottom: 2%;
    padding: 0%!important;
    cursor: pointer;
    margin-top:1%
}
.error {
    color: #ff0000!important;
	font-weight: normal!important;
	font-size: 15px;
}
.starcolor{
	font-size: 31px;
    margin-top: -9%;
    color: #f00;
    position: absolute;
}
.starcolor1{
	font-size: 31px;
    margin-top: -1%;
    color: #f00;
    position: absolute;
}
.statuswcolor{
	color: #fff!important;
}
.viewTitle{
	color: #555;
}
.viewlogo{
	float: left;
}
.documentClose{
	font-size: 36px;
    /* background: #f00; */
    margin-bottom: 3%;
    padding-top: 0%;
}
.documentHead{
	font-weight: bold;
    font-size: 16px;
    margin-bottom: 3%!important;
}
.serviceNameonly{
	padding-left: 4%;
}
.tdStatus{
	padding: 2% 13%;
    text-align: center;
    display: block;
}
.removePadding{
	padding-bottom: 0%!important;
}
#selectMember{
	margin-top:3%;
}
.hideProgressBar{
	display: none !important;
}
.showProgressBar{
	display: block!important;
}
.noData{
	text-align: center;
	font-size: 18px;
	
}
.w300 {
    width: 300px;
}
.noDataButton{
	width: 42%;
    height: 35px;
    transition: 0.3s ease 0s;
	transform: translateX(26px);
	margin-right: 4%;
}

.Correctborder{
	background-color: rgb(255, 255, 255);
	color: rgb(40, 175, 228);
	border: 1px solid #2b9bbc !important;
}
.bgSelect{
	background: #f00;
}
.bgNotSelect{
	background: transparent;
}
/* 
.checkListDiv button{
	border-radius: 0px;
    height: 40px;
    background-color: #00b8ff;
    border-color: #00b8ff;
    outline: none;
} */

.innerChecklisttoteamM{
	margin-bottom: 4%;
}
.correctBtn{
	margin-top:3%;
}
