.adminBlkUploadBtnDiv {
    background: #eee;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.adminBlkUpldBkg, .adminBlkUpldIcon {
    background: #444 !important;
    color: #fff !important;
}

.searchProductFromList {
    margin-bottom: 6px;
}

.searchProductFromList input {
    border-radius: 20px;
}
